<script type="text/html">
	<!-- 课程列表页-侧边栏 -->
	<div class="class_list_sidebar">
		<h1 class="tit">上课时间</h1>
		<ul class="btn_list" data-role="checkbox" data-input-key="class_week">
			<li data-input-value="1"><span>周一</span></li>
			<li data-input-value="2"><span>周二</span></li>
			<li data-input-value="3"><span>周三</span></li>
			<li data-input-value="4"><span>周四</span></li>
			<li data-input-value="5"><span>周五</span></li>
			<li data-input-value="6"><span>周六</span></li>
			<li data-input-value="7"><span>周日</span></li>
		</ul>
		<h1 class="tit">具体时间</h1>
		<ul class="btn_list" data-role="checkbox" data-input-key="class_time">
			<li data-input-value="06:00-12:00"><span>上午</span></li>
			<li data-input-value="12:00-18:00"><span>下午</span></li>
			<li data-input-value="18:00-22:00"><span>晚上</span></li>
		</ul>
		<ul class="normal_checkbox" data-role="checkbox" data-input-key="is_show">
			<li data-input-type="trueFalse" data-input-value="2">不显示满班</li>
		</ul>
		<ul class="bottom_btn">
			<li class="btn reset">重置</li>
			<li class="btn ok">确认</li>
		</ul>
	</div>
</script>