<!-- c-(意思是组件的意思) -->
<!-- 组件-头部 -->
<!-- 参数type 0->普通 1->带单个搜索框 2->搜索框+筛选 -->

@@if(context.type == "0"){
<header>
	<a href="javascript:;" id="headerBack" class="back"></a>
	<div class="text" id="headerTxt">@@txt</div>
	<div class="rightText">@@rightText</div>
</header>
}
@@if(context.type == "1"){
<header>
	<a href="javascript:;" id="headerBack" class="back"></a>
	<div class="search long">
		<p id="headerSearch" class="input_ele">搜索课程/机构</p>
	</div>
</header>
}
@@if(context.type == "2"){
<header>
	<a href="javascript:;" id="headerBack" class="back"></a>
	<div class="shai"></div>
	<div class="search">
		<p id="headerSearch" class="input_ele">搜索课程/机构</p>
	</div>
</header>
}
@@if(context.type == "3"){
<header class="opacity">
	<a href="javascript:;" id="headerBack" class="back"></a>
	<a href="javascript:;" class="icon phone"></a>
	<div class="text" id="headerTxt">校区主页</div>
</header>
}