@@include('../../include/header-common.html', {
  "subtitle": "-评价页",
  "css": "page-1/entry-classEvaluationWriteEvaluation"
})
<!-- 1-课程&评价 我要评价页 -->
<body class="header">
	<!-- 头部 -->
		@@include('./c-header.html', {
			"type": "0",
			"txt": "我要评价",
			"rightText": ""
		})
	<!-- /头部 -->

	<div class="evaluation">
		<div class="textWrapper">
			<textarea name="" placeholder="请写下上课的感受,助人快乐( ^_^ )"></textarea>
		</div>
		<div class="starWrapper">
			<div class="first">学习效果<p><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></p></div>
			<div>课后服务<p><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></p></div>
			<div>教学态度<p><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></p></div>
		</div>
	</div>
</body>