@@include('../../include/header-common.html', {
  "subtitle": "-课程详情",
  "css": "page-1/entry-classDetail"
})
<div class="class-detail">
	<!-- 图片 -->
	<div class="banner">
		<img src="/img/tpl1/art01.png" alt="">
		<a href="javascript:;" class="back"></a>
		<a href="javascript:;" class="shortcut"></a>
		<a href="javascript:;" class="listen"></a>
	</div>
	<!-- /图片 -->
	<!-- 钢琴课 -->
	<div class="class-content">
		<h3 class="title">精品钢琴课(课时班)</h3>
		<p class="price">
			<span class="rq">抢报价</span>
			<span class="new"><i>￥</i>1099.<i>00</i></span>
			<span class="old">￥2000.00</span>
		</p>
		<p class="num">剩余1个名额</p>
		<p class="rqt-wrapper"><span class="rqt">限时抢报</span><span class="time">结束时间：2017-08-09 15:40:56</span></p>
		<p class="icon-wrapper">
			<span class="icon">随时退班</span><span class="icon">随时插班</span><span class="icon">免费试听</span>
		</p>
		<div class="fav">
			<a href="javascript:;" class="point-click"></a>
			<p class="icon1">2017-08-09 15:50:50前报名，享9.8折优惠</p>
			<p class="icon2">【全面开放报名】 连报优惠活动开始了~</p>
		</div>
	</div>
	<!-- /钢琴课 -->
	<!-- 课程信息 -->
	<div class="class-message">
		<h5 class="title">课程信息</h5>
		<ul>
			<li class="item">
				<a href="javascript:;" onclick="alert(1)">
					<p class="item-left">主讲老师：</p>
					<div class="item-right">张淼</div>
					<i class="arrow-right"></i>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;">
					<p class="item-left">上课地点：</p>
					<div class="item-right">
						北京市海淀区中关村大厦123号东该走400米路东13号楼305教室
					</div>
					<i class="arrow-right"></i>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="point-click point-special"></a>
				<p class="item-left">课程安排：</p>
				<div class="item-right">
					<p class="item-right-date">2015-11-30 至 2016-03-18</p>
					<div class="item-right-weak-wrapper">
						<p class="weak">每周一</p>
						<div class="time">
							<p>10: 00-11: 00</p>
						</div>
					</div>
					<div class="item-right-weak-wrapper">
						<p class="weak">每周二</p>
						<div class="time">
							<p>10: 00-11: 00</p>
							<p>10: 00-11: 00</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- /课程信息 -->
	<!-- 课程概述 -->
	<div class="class-message">
		<h5 class="title">课程概述</h5>
		<ul>
			<li class="item">
				<a href="javascript:;">
					<p class="item-left">所属校区：</p>
					<p class="item-right">中关村校区</p>
					<i class="arrow-right"></i>
				</a>
			</li>
			<li class="item">
				<p class="item-left">适学人群：</p>
				<p class="item-right">
					钢琴零基础
				</p>
			</li>
			<li class="item">
				<p class="item-left">课程目标：</p>
				<p class="item-right">
					中央音院,中国音院顶尖名师,中国音乐教育领先品牌, 少儿及成人钢琴培训,钢琴艺考辅导,音乐留学咨询,技能与素养结合,艺术与技术融会,塑造完美音乐人生。
				</p>
			</li>
		</ul>
	</div>
	<!-- /课程概述 -->
	<!-- 招生简章 -->
	<div class="class-message">
		<h5 class="title">课程概述<span class="text-arrow">
			查看详情
		</span></h5>
	</div>
	<!-- /招生简章 -->
	<!-- 课程大纲 -->
	<div class="class-message">
		<a href="javascript:;" onclick="alert(1)">
			<h5 class="title">课程大纲<span class="text-arrow">
				查看详情
			</span></h5>
		</a>
	</div>
	<!-- /课程大纲 -->
	<!-- 家长评价 -->
	<div class="class-message">
		<h5 class="title">家长评价<span class="text">
			共10条评论
		</span></h5>
	</div>
	<!-- /家长评价 -->
</div>
<!-- 课程安排弹出层 -->
<div class="class-plan-shadow open">
	<div class="class-plan">
		<h5 class="title">课程安排 <span class="small">(10课时, 共30个小时)</span><span class="close"></span></h5>
		<div class="content">
			<ul>
				<li class="item disabled">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
				<li class="item">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
				<li class="item">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
				<li class="item disabled">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
				<li class="item disabled">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
				<li class="item disabled">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
				<li class="item disabled">
					<div class="left">
						<span>1</span>
					</div>
					<div class="right">
						<p>第2课时</p>
						<p class="time">2016-03-18 周一 20:30-22:00</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /课程安排弹出层 -->
