@@include('../../include/header-common.html', {
  "subtitle": "-评价记录页",
  "css": "page-1/entry-classEvaluationRecord"
})
<!-- 1-课程&评价 评价记录页 -->
<body class="header">
	<!-- 头部 -->
		@@include('./c-header.html', {
			"type": "0",
			"txt": "评价记录",
			"rightText": ""
		})
	<!-- /头部 -->

	
	<!-- 列表 -->
	<div class="" id="wrapper">
		<div>
			<div class="pullDown">
				<div>
					<span class="pullDownIcon"></span>
					<span class="pullDownLabel">下拉刷新</span>
				</div>
			</div>
			<ul id="listContainer">
				<li class="item">
					<div class="title">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<span class="name">呵呵</span>
					</div>
					<div class="starWrapper">
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
					</div>
					<div class="paro">老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价</div>
					<div class="desc">
						<div class="img">
							<img src="/img/tpl1/ic_default_teacher.png" alt="">
						</div>
						<div class="text">
							<h3 class="title">初二语文AA</h3>
							<p>第3节 2018-02-05 13:20-13:30</p>
							<p>主讲教师：美美</p>
							<p>上课孩子：乐乐</p>
						</div>
					</div>
					<div class="btnWrapper"><div class="btn">修改评价</div></div>
					<div class="time">2018-03-06</div>
				</li>
				<li class="item">
					<div class="title">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<span class="name">呵呵</span>
					</div>
					<div class="starWrapper">
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
					</div>
					<div class="paro">老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价</div>
					<div class="desc">
						<div class="img">
							<img src="/img/tpl1/ic_default_teacher.png" alt="">
						</div>
						<div class="text">
							<h3 class="title">初二语文AA</h3>
							<p>第3节 2018-02-05 13:20-13:30</p>
							<p>主讲教师：美美</p>
							<p>上课孩子：乐乐</p>
						</div>
					</div>
					<div class="btnWrapper"><div class="btn">修改评价</div></div>
					<div class="time">2018-03-06</div>
				</li>
				<li class="item">
					<div class="title">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<span class="name">呵呵</span>
					</div>
					<div class="starWrapper">
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
					</div>
					<div class="paro">老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价老刘测试评价</div>
					<div class="desc">
						<div class="img">
							<img src="/img/tpl1/ic_default_teacher.png" alt="">
						</div>
						<div class="text">
							<h3 class="title">初二语文AA</h3>
							<p>第3节 2018-02-05 13:20-13:30</p>
							<p>主讲教师：美美</p>
							<p>上课孩子：乐乐</p>
						</div>
					</div>
					<div class="btnWrapper"><div class="btn">修改评价</div></div>
					<div class="time">2018-03-06</div>
				</li>
			</ul>
			<div class="pullUp">
				<div>
					<span class="pullUpIcon"></span>
					<span class="pullUpLabel">上拉加载</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /列表 -->
</body>