@@include('../../include/header-common.html', {
  "subtitle": "课程详情页",
  "css": "page-1/entry-classDetail"
})
<!-- 1-课程详情页 -->
<body class="btns_bottom header">
	<!-- 头部 -->
	@@include('./c-header.html', {
		"type": "4"
	})
	<div id="classDetailZone" class="class-detail">
		<div id="classDetailBasic">
			<!-- banner图部分 -->
			<div class="banner_infor">
				<div id="banner" class="banner">
					<img src="/img/tpl1/default/bg_class_detail.png" alt="" />
				</div>
				<div class="infor">
					<span class="txt">剩余<em id="leftStudentNum"></em>个名额</span>
					<span class="txt">浏览量<em id="lookNum"></em></span>
				</div>
			</div>
			<!-- 课程信息 -->
			<div class="class-content">
				<h3 id="className" class="title"></h3>
				<p class="price">
					<span id="priceType" class="rq hide"></span>
					<span id="mallCost" class="new"><i></i><i></i></span>
					<span id="oldPrice" class="old"></span>
				</p>
				<p id="huiPagDetail" class="rqt-wrapper">
					<span class="rqt"></span>
					<span class="time"></span>
				</p>
				<p id="classMark" class="icon-wrapper">
					<span class="icon">随时退班</span>
					<span class="icon">随时插班</span>
					<span class="icon">免费试听</span>
				</p>
				<div id="huiPagZone" class="fav">
					<a href="javascript:;" id="lookHuiPag" class="point-click hide"></a>
					<p class="icon"></p>
				</div>
				<!-- 班级状态 -->
				<div class="class_status"></div>
			</div>
			<!-- 课程信息 -->
			<div class="class-message">
				<h5 class="title">课程信息</h5>
				<ul>
					<li class="item">
						<a href="javascript:;" id="lookTeacher">
							<p class="item-left">主讲老师：</p>
							<div class="item-right"></div>
							<i class="arrow-right hide"></i>
						</a>
					</li>
					<li class="item">
						<p class="item-left">课程安排：</p>
						<div id="classPlan" class="item-right">
							<!-- <a href="javascript:;" id="lookClassPlan" class="point-click point-special"></a> -->
							<p class="item-right-date"> </p>
							<div class="item-right-weak-wrapper">
								<p class="weak"></p>
								<div class="time">
									<p></p>
								</div>
							</div>
						</div>
					</li>
					<li class="item">
						<a href="javascript:;">
							<p class="item-left">上课地点：</p>
							<div id="classAddress" class="item-right"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- /课程信息 -->
			<!-- 课程概述 -->
			<div class="class-message">
				<h5 class="title">课程概述</h5>
				<ul>
					<li class="item">
						<a href="javascript:;">
							<p class="item-left">所属校区：</p>
							<p id="schoolAddress" class="item-right"></p>
							<i id="lookSchool" class="arrow-right"></i>
						</a>
					</li>
					<li class="item">
						<p class="item-left">适学人群：</p>
						<p id="classToPeople" class="item-right"></p>
					</li>
					<li class="item">
						<p class="item-left">教学目标：</p>
						<p id="classGoal" class="item-right"></p>
					</li>
					<li class="item">
						<p class="item-left">课程亮点：</p>
						<p id="classLiang" class="item-right"></p>
					</li>
				</ul>
			</div>
			<!-- /课程概述 -->
			<!-- 招生简章 -->
			<div id="classZhang" class="class-message hide">
				<h5 class="title">
					招生简章
					<span id="lookClassZhang" class="text-arrow">查看详情</span>
				</h5>
			</div>
			<!-- /招生简章 -->
			<!-- 课程大纲 -->
			<div id="classGang" class="class-message hide">
				<a href="javascript:;">
					<h5 class="title">
						课程大纲
						<span id="lookClassGang" class="text-arrow">查看详情</span>
					</h5>
				</a>
			</div>
		</div>
		<!-- /课程大纲 -->
		<!-- 家长评价 -->
		<div class="class-message">
			<h5 class="title">
				家长评价
				<span class="text">共<em id="pingNum">0</em>条评论</span>
			</h5>
			<div id="pingList" class="cls_evel_zone"></div>
		</div>
		<!-- /家长评价 -->
	</div>
	<!-- 底部操作按钮 -->
	<ul class="btn_bottom three">
		<li id="yueTing" class="icon phone disable"><span>预约试听</span></li>
		<li id="joinCart" class="yellow disable_deep"><span>加入购物车</span></li>
		<li id="signClass" class="theme disable"><span>立即报名</span></li>
	</ul>
	<!-- 模板部分 -->
	<!-- 模板-课程评价 -->
	<script type="text/html" id="tplPing">
		{{each data val i}}
		{{if i<=1}}
	    <a href="javascript:;" class="ping_content">
	    	{{if val.avatar}}
	      <img src={{val.avatar}} width="25" height="25" alt="头像" class="ping_img" />
	      {{else}}
	      <img src="/img/tpl1/default/ic_default_user_avatar.png" width="25" height="" alt="25" class="ping_img" />
	      {{/if}}
	      <div class="ping_txt">
	        <div class="ping_tit">
	          <div class="tit_r">{{val.modified}}</div>
	          <div class="tit_l">
	            <span class="name">{{val.phone}}</span>
	            <div class="stars_zone">
	            	<div class="stars" style="width:{{val.comment_score | calculateStar}}px;"></div>
	            </div>
	          </div>
	        </div>
	        <div class="ping_str">{{val.curriculum_evaluation}}</div>
	      </div>
	    </a>
	  {{/if}}
	  {{/each}}
    <ul class="link_list" data-role="goToPing">
       <li><a href="javascript:;" id="lookParentPing" class="fen_add">查看全部<em data-role='ping_num'>{{total}}</em>条评论</a></li>
    </ul>
	</script>
	<!-- 模板-课程基本信息 -->
	<script type="text/html" id="tplClassDetail">
		<!-- 班课详情-1 -->
		<!-- banner图部分 -->
		<div class="banner_infor">
			<div id="banner" class="banner">
				{{if goods_imgs && goods_imgs.length}}
					{{if goods_imgs[0].teaching_video == ""}}
					<img src={{goods_imgs[0].url}} alt="" />
					{{else}}
						{{if goods_imgs.length >= 2}}
							<img src={{goods_imgs[1].url}} alt="" />
						{{else}}
							<img src="/img/tpl1/default/bg_class_detail.png" alt="" />
						{{/if}}
					{{/if}}
				{{else}}
				<img src="/img/tpl1/default/bg_class_detail.png" alt="" />
				{{/if}}
			</div>
			<div class="infor">
				<span class="txt">剩余<em id="leftStudentNum">{{total-saled}}</em>个名额</span>
				<span class="txt">浏览量<em id="lookNum">{{browse_number}}</em></span>
			</div>
		</div>
		<!-- 课程信息 -->
		<div class="class-content">
			<h3 id="className" class="title">{{goods_name}}</h3>
			<p class="price">
				{{if privilege_price_tag && privilege_price_tag.length != 0}}
				<span id="priceType" class="rq">{{privilege_price_tag.name}}</span>
				<span id="mallCost" class="new"><i>￥</i>{{mall_cost}}</span>
				<span id="oldPrice" class="old">{{cost}}</span>
				{{else}}
					{{if mall_cost < cost.replace(/^￥/g, "")}}
					<span id="mallCost" class="new"><i>￥</i>{{mall_cost}}</span>
					<span id="oldPrice" class="old">{{cost}}</span>
					{{else}}
					<span id="mallCost" class="new"><i>￥</i>{{mall_cost}}</span>
					{{/if}}
				{{/if}}
			</p>
			{{if privilege_price_tag && privilege_price_tag.length != 0}}
			<p id="huiPagDetail" class="rqt-wrapper">
				<span class="rqt">{{privilege_price_tag.sort_info}}</span>
				<span class="time">{{privilege_price_tag.info}}</span>
			</p>
			{{/if}}
			<p id="classMark" class="icon-wrapper">
				{{if retreat_rule == 1}}
				<span class="icon">随时退班</span>
				{{/if}}
				{{if is_transfer == 1}}
				<span class="icon">随时插班</span>
				{{/if}}
				{{if is_audition == 1}}
				<span class="icon">免费试听</span>
				{{/if}}
			</p>
			{{if discount_info && discount_info.length}}
			<div id="huiPagZone" class="fav">
				<a href="javascript:;" id="lookHuiPag" class="point-click"></a>
				<p class="icon">
					<span style="background-color:{{discount_info[1].colour}};">{{discount_info[1].tag}}</span>
					{{discount_info[1].msg}}
			</div>
			{{/if}}
			<!-- 班级状态 -->
			<div class="class_status 
			{{if status == 4}}ing{{/if}}
			{{if status == 5}}zhao{{/if}}
			{{if status == 3}}man{{/if}}
			{{if status == 2}}end{{/if}}
			{{if status == 1}}off{{/if}}
			"></div>
		</div>
		<!-- 课程信息 -->
		<div class="class-message">
			<h5 class="title">课程信息</h5>
			<ul>
				<li class="item">
					<a href="javascript:;" id="lookTeacher" data-id={{teacher_id}}>
						<p class="item-left">主讲老师：</p>
						<div class="item-right">{{teacher_name}}</div>
						<i class="arrow-right"></i>
					</a>
				</li>
				<li class="item">
					<p class="item-left">课程安排：</p>
					<div id="classPlan" class="item-right">
						{{if lessons.length}}
						<p class="item-right-date">{{lessons[0].open_date}} 至 {{lessons[lessons.length-1].open_date}}</p>
						<a href="javascript:;" id="lookClassPlan" class="point-click point-special"></a>
						<div class="item-right-weak-wrapper">
							{{each lession_arrange val i}}
							<div class="time">
								<p>{{val}}</p>
							</div>
							{{/each}}
						</div>
						{{else}}
						太忙了，还没来得及录入~
						{{/if}}
					</div>
				</li>
				<li class="item">
					<a href="javascript:;">
						<p class="item-left">上课地点：</p>
						<div id="classAddress" class="item-right">{{address}}</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- 招生简章 -->
		{{if admissions}}
		<div id="classZhang" class="class-message">
			<h5 class="title">
				招生简章
				<span id="lookClassZhang" class="text-arrow" data-id="{{goods_id}}">查看详情</span>
			</h5>
		</div>
		{{/if}}
		<!-- /招生简章 -->
		<!-- 课程大纲 -->
		{{if teaching_program}}
		<div id="classGang" class="class-message">
			<a href="javascript:;">
				<h5 class="title">
					课程大纲
					<span id="lookClassGang" class="text-arrow" data-id="{{goods_id}}">查看详情</span>
				</h5>
			</a>
		</div>
		{{/if}}
		<!-- /课程信息 -->
		<!-- 课程概述 -->
		<div class="class-message">
			<h5 class="title">课程概述</h5>
			<ul>
				<li class="item">
					<a href="javascript:;">
						<p class="item-left">所属校区：</p>
						<p id="lookSchool" class="item-right" data-id={{campus_id}}>{{campus_name}}</p>
						<i class="arrow-right"></i>
					</a>
				</li>
				<li class="item">
					<p class="item-left">适学人群：</p>
					<p id="classToPeople" class="item-right">{{adaptive_population ? adaptive_population : "太忙了，还没来得及录入~"}}</p>
				</li>
				<li class="item">
					<p class="item-left">教学目标：</p>
					<p id="classGoal" class="item-right">{{teaching_target ? teaching_target : "太忙了，还没来得及录入~"}}</p>
				</li>
				<li class="item">
					<p class="item-left">课程亮点：</p>
					<p id="classLiang" class="item-right">{{course_highlight ? course_highlight : "太忙了，还没来得及录入~"}}</p>
				</li>
			</ul>
		</div>
		<!-- /课程概述 -->
	</script>
	<!-- 模板-课程安排 -->
	<script type="text/html" id="tplClassDetailLesson">
		<!-- 班课详情-课时安排 -->
		<div class="class-plan-shadow">
			<div class="class-plan">
				<div class="content">
					<ul>
						{{each lessons val i}}
						<li class="item {{(val.is_finished == 1) ? 'disabled' : ''}}">
							<div class="left">
								<span>{{val.lesson_num}}</span>
							</div>
							<div class="right">
								<p>第{{val.lesson_num}}课时</p>
								<p class="time">{{val.open_date}} 周{{val.goods_week}} {{val.class_time}}</p>
							</div>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</script>
	<!-- 模板-优惠详情 -->
	<script type="text/html" id="tplClassDetailHui">
		<!-- 班课详情-优惠详情 -->
		<ul class="hui_detail_list">
		{{each discount_info val i}}
			{{if !val.type}}
				<li class="tip">{{val.msg.replace(/\\n/g, "")}}</li>
			{{else}}
				{{if val.type == 2}}
				<li class="arrow" id="lookTao"><span class="icon" style="background-color:{{val.colour}};">{{val.tag}}</span>{{val.msg}}</li>
				{{else}}
				<li><span class="icon" style="background-color:{{val.colour}};">{{val.tag}}</span>{{val.msg}}</li>
				{{/if}}
			{{/if}}
		{{/each}}
		</ul>
	</script>
</body>
</html>