@@include('../../include/header-common.html', {
  "subtitle": "-我的课程页",
  "css": "page-1/entry-classEvaluationMyClass"
})
<!-- 1-课程&评价 我的课程页 -->
<body class="header">
	<!-- 头部 -->
		@@include('./c-header.html', {
			"type": "0",
			"txt": "课程&评价",
			"rightText": "评价记录"
		})
	<!-- /头部 -->
	<!-- tab -->
	<div class="tab">
		<a href="javascript:;">我的课程</a>
		<a href="javascript:;">收到评价</a>
	</div>
	<!-- /tab -->
	<!-- 列表 -->
	<div id="wrapper">
		<div>
			<div class="pullDown">
				<div>
					<span class="pullDownIcon"></span>
					<span class="pullDownLabel">下拉刷新</span>
				</div>
			</div>
			<ul id="listContainer">
				<!-- 我的课程 -->
				<!-- <li class="item">
					<div class="left">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<p>张三</p>
					</div>
					<div class="right">
						<h3 class="title">钢琴精品课程</h3>
						<p class="address">地址：中关村大厦705</p>
						<p class="roo">教室：滚动A班</p>
						<p class="time">下节：2015-11-30 周五 15:00-16:30</p>
					</div>
					<div class="inner">
						<a href="javascript:;">评价</a>
						<a href="javascript:;" class="kao">考勤</a>
					</div>
					<div class="tag">正常开课</div>
				</li> -->
				<!-- /我的课程 -->
				<!-- 收到评价 -->
				<li class="othitem">
					<div class="title">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<span class="name">张晓雅</span>
					</div>
					<p class="yello">表现极好</p>
					<p class="line">评分：<span class="star"></span><span class="star"></span><span class="star"></span><span class="star star1"></span><span class="star star2"></span><span class="num">70.0</span></p>
					<p class="line">亮点：<span class="gray">积极思考;举手问答;注意力集中</span></p>
					<p class="line">待改进: <span class="gray">上课走神</span></p>
					<p class="line">评语：</p>
					<div class="student">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<div class="text">
							<p class="name">孩子：王勇</p>
							<p class="desc">小学数学A班</p>
						</div>
					</div>
				</li>
				<li class="othitem">
					<div class="title">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<span class="name">张晓雅</span>
					</div>
					<p class="yello">表现极好</p>
					<p class="line">评分：<span class="star"></span><span class="star"></span><span class="star"></span><span class="star star1"></span><span class="star star2"></span><span class="num">70.0</span></p>
					<p class="line">亮点：<span class="gray">积极思考;举手问答;注意力集中</span></p>
					<p class="line">待改进: <span class="gray">上课走神</span></p>
					<p class="line">评语：</p>
					<div class="student">
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
						<div class="text">
							<p class="name">孩子：王勇</p>
							<p class="desc">小学数学A班</p>
						</div>
					</div>
				</li>
				<!-- /收到评价 -->
			</ul>
			<div class="pullUp">
				<div>
					<span class="pullUpIcon"></span>
					<span class="pullUpLabel">上拉加载</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /列表 -->
</body>