@@include('../../include/header-common.html', {
  "subtitle": "-首页",
  "css": "page-1/entry-index"
})
<!-- 1-首页 -->
<body>
	<!-- 头部 -->
	<header>
		<div class="menu"></div>
		<div class="location">
			<a href="javascript:;" class="city_change">北京</a>
		</div>
		<div class="message"></div>
	</header>
	<!-- /头部 -->
	<!-- 搜索 -->
	<div class="search_box">
		<input type="text" class="search" name="" placeholder="Search">
	</div>
	<!-- /搜索 -->
	<!-- 轮播图 -->
	<div id="slideBox" class="slideBox">
		<div class="bd">
			<ul>
				<li>
					<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg" /></a>
				</li>
				<li>
					<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg"/></a> 
				</li>
				<li>
					<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg"/></a>
				</li>
				<li>
					<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg"/></a>
				</li>
			</ul>
		</div>
		<!-- 圆点切换 -->
		<div class="hd">
			<ul>
				<li class="on"></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<!-- /轮播图-->
</body>
</html>