@@include('../../include/header-common.html', {
  "subtitle": "-一对一列表页",
  "css": "page-1/entry-oneToOne"
})
<!-- 1-一对一列表页 -->
<body class="header">
	<!-- 头部 -->
	<header>
		<a href="javascript:;" class="back"></a>
		<!-- <div class="shai"></div> -->
		<div class="search">
			<input type="text" placeholder="搜索课程/机构" readonly />
		</div>
	</header>
	<!-- 列表 -->
	<div class="container full">
		<!-- 筛选条件-顶部 -->
		<div class="order_sort">
			<!-- 选项卡头部 -->
			<ul class="order_sort_u clearfix">
				<li>
					<a href="javascript:;" class="tab_swi_a">年部年级</a>
				</li>
				<li>
					<a href="javascript:;" class="tab_swi_a">课程分类</a>
				</li>
				<li>
					<a href="javascript:;" class="tab_swi_a">授课模式</a>
				</li>
			</ul>
			<!-- 搜索选项卡 -->
			<div class="search_tabs">
				<!-- 单个选项卡 -->
				<div class="search_tab location_fu" id="location_fu">
					<div class="left_area">
						<a href="javascript:;" class="switch_a area_d_a on">附近</a>
						<a href="javascript:;" class="switch_a area_d_a">海淀区(132)</a>
						<a href="javascript:;" class="switch_a area_d_a">西城区(132)</a>
						<a href="javascript:;" class="switch_a area_d_a">朝阳区(132)</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区(132)</a>
						<a href="javascript:;" class="switch_a area_d_a">东城区(132)</a>
						<a href="javascript:;" class="switch_a area_d_a">石景山区(132)</a>
					</div>
					<div class="right_area">
							<div class="right_area_d on">
								<div class="rigth_third">
									<a href="javascript:;" class="switch_a area_r on">全城</a>
								</div>
								<div class="rigth_third">
									<a href="javascript:;" class="switch_a area_r on">1Km</a>
								</div>
								<div class="rigth_third">
									<a href="javascript:;" class="switch_a area_r">2Km</a>
								</div>
								<div class="rigth_third">
									<a href="javascript:;" class="switch_a area_r">3Km</a>
								</div>
							</div>	
					</div>
				</div>
				<div class="search_tab" id="classify">
					<div class="left_area">
						<a href="javascript:;" class="switch_a area_d_a">海淀区2</a>
						<a href="javascript:;" class="switch_a area_d_a">西城区</a>
						<a href="javascript:;" class="switch_a area_d_a">朝阳区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">丰台区</a>
						<a href="javascript:;" class="switch_a area_d_a">东城区</a>
						<a href="javascript:;" class="switch_a area_d_a">石景山区</a>
					</div>
					<div class="right_area">
						<div class="right_area_d on">
							
						</div>	
						<div class="right_area_d" style="min-height:351px;">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部9</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部1</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部2</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部3</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部4</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部5</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部6</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部7</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
						<div class="right_area_d">
							<div class="rigth_third">
								<a href="javascript:;" class="switch_a area_r mar_l">全部8</a>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu on">双榆树</a>
								<div class="third_menu_con current">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">双榆树</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
							<div class="right_third">
								<a href="javascript:;" class="switch_a area_r mar_l third_menu">中关村</a>
								<div class="third_menu_con">
									<ul>
										<li><a href="javascript:;">雅思</a></li>
										<li><a href="javascript:;">SAT</a></li>
										<li><a href="javascript:;">托福</a></li>
										<li><a href="javascript:;">留学预科</a></li>
										<li><a href="javascript:;">ACT</a></li>
									</ul>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="search_tab min_hieght"> 
					<ul class="localtion_list sort_list">
						<li><i class="icon_bg_1"></i><a href="">智能排序</a></li>
						<li><i class="icon_bg_2"></i><a href="">离我最近</a></li>
						<li><i class="icon_bg_3"></i><a href="">人气最高</a></li>
						<li><i class="icon_bg_4"></i><a href="">老师好评</a></li>
						<li><i class="icon_bg_5"></i><a href="">价格最高</a></li>
					</ul>
				</div>
				<div class="search_tab">
					<!-- 筛选菜单 -->
					<div class="sidebar shai">
						<!-- 主体 -->
						<div class="main">
							<div class="qujian_zone">
								<ul class="staus_sele" data-role="staus_sele">
									<li class="staus"><span>免费试听</span></li>
									<li class="staus"><span>随时插班</span></li>
									<li class="staus"><span>随时退班</span></li>
									<li class="staus"><span>未开课</span></li>
								</ul>
							</div>
							<div class="info_tit">
								<h3><span></span>活动优惠</h3>
							</div>
							<div class="qujian_zone">
								<ul class="staus_sele" data-role="staus_sele">
									<li class="staus"><span>连报优惠</span></li>
									<li class="staus"><span>限时团购</span></li>
									<li class="staus"><span>折扣</span></li>
									<li class="staus"><span>立减</span></li>
								</ul>
							</div>
							<div class="info_tit">
								<h3><span></span>上课时间</h3>
							</div>
							<div class="qujian_zone">
								<ul id="week_condition" class="staus_sele" data-role="staus_sele">
									<li class="staus" data-week="1"><span>周一</span></li>
									<li class="staus" data-week="2"><span>周二</span></li>
									<li class="staus" data-week="3"><span>周三</span></li>
									<li class="staus" data-week="4"><span>周四</span></li>
									<li class="staus" data-week="5"><span>周五</span></li>
									<li class="staus" data-week="6"><span>周六</span></li>
									<li class="staus" data-week="7"><span>周日</span></li>
								</ul>
							</div>
							<div class="info_tit">
								<h3><span></span>具体时间</h3>
							</div>
							<div class="qujian_zone">
								<!-- 时间区域 -->
								<ul class="staus_sele" data-role="staus_sele">
									<li class="staus"><span>上午</span></li>
									<li class="staus"><span>下午</span></li>
									<li class="staus"><span>晚上</span></li>
								</ul>
							</div>
							<div class="info_tit">
								<h3><span></span>价格区间</h3>
							</div>
							<div class="qujian_zone unit_price">
								<!-- 时间区域 -->
								<ul class="staus_sele" data-role="staus_sele_radio">
									<li class="staus"><span>0~1000</span></li>
									<li class="staus"><span>1000~3000</span></li>
									<li class="staus"><span>3000~5000</span></li>
									<li class="staus"><span>5000~7000</span></li>
									<li class="staus"><span>7000~9000</span></li>
									<li class="staus"><span>9000以上</span></li>
								</ul>
							</div>
						</div>
						<!-- 底部操作区 -->
						<div class="bottom_ctrl">
							<div class="cls_num"><span>10000</span>门课程</div>
							<div class="reset" data-role="reset">重置</div>
							<div class="ok">确认</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /搜索选项卡 -->
		</div>
		<!-- 一对一列表 -->
		<div class="one-list">
			<ul>
				<li class="item">
					<div class="img">
						<img src="/img/tpl1/art01.png" alt="">
					</div>
					<div class="text">
						<h5 class="title">五年级语文</h5>
						<p class="icon-list">
							<span>五年级</span><span>语文</span><span>一对一</span>
						</p>
						<p class="price-wrapper">
							<span class="blue">￥</span>350<span>元/节</span>
						</p>
					</div>
				</li>
				<li class="item">
					<div class="img">
						<img src="/img/tpl1/art01.png" alt="">
					</div>
					<div class="text">
						<h5 class="title">初二作文写作能力提升课程</h5>
						<p class="icon-list">
							<span>初二</span><span>语文</span><span>一对一</span><span>一对一</span><span>一对一</span><span>一对一</span><span>一对一</span><span>一对一</span><span>一对一</span><span>一对一</span>
						</p>
						<p class="price-wrapper">
							<span>￥</span>350<span class="gray">元/节</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<!-- /一对一列表 -->
	</div>
	<!-- 模板-课程 -->
</body>
</html>