@@include('../../include/header-common.html', {
  "subtitle": "-个人中心",
  "css": "page-1/entry-personal"
})
<!-- 个人中心 -->
<body class="header">
	<!-- 头部 -->
	<header>
		<h2 class="title">个人中心</h2>
	</header>
	<!-- /头部 -->
	<!-- order -->
	<div class="order-wrapper">
		<div class="order">
			<div class="avator">
				<img src="/img/tpl1/ic_default_teacher.png" alt="">
				<div class="name"></div>
			</div>
			<div class="order-message">
				<ul>
					<li class="item">
						<a href="javascript:;">
							<img src="/img/tpl1/shopcar005.png" alt="">
							<p>购物车</p>
						</a>
					</li>
					<li class="item">
						<a href="javascript:;">
							<img src="/img/tpl1/myordder005.png" alt="">
							<p>我的订单</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /order -->
	<!-- 列表 -->
	<div class="message-list">
		<ul>
			<li class="item">
				<div class="left">退班</div>
				<a href="javascript:;" class="right">查看退班</a>
			</li>
			<li class="item">
				<div class="left">我的孩子</div>
				<a href="javascript:;" class="right">管理孩子信息</a>
			</li>
			<li class="item">
				<div class="left">系统设置</div>
				<a href="javascript:;" class="right">系统管理</a>
			</li>
		</ul>
	</div>
	<!-- /列表 -->
</body>