@@include('../../include/header-common.html', {
  "subtitle": "-课表",
  "css": "page-1/entry-schedule"
})
<!-- 1-课表 -->
<body>
	<div class="schedule">
		<div class="calendar" id="datepicker">
			<div class="calendar_date"> 
				<a href="javascript:;" class="prev">上一月</a>
				<h3>2015年10月</h3>
				<a href="javascript:;" class="next">下一月</a>
			</div> 
			<ol class="week_list">
				<li class="weekend">周日</li>
				<li>周一</li>
				<li>周二</li>
				<li>周三</li>
				<li>周四</li>
				<li>周五</li>
				<li class="weekend last">周六</li>
			</ol>
			<ul class="date_list">
				
			</ul>
		</div>
		<div class="nav">全部孩子<span class="right-arrow"></span></div>
		<div class="list" id="wrapper">
			<div>
				<ul id="listContainer">
					<li class="item">
						<div class="left">
							<img src="/img/tpl1/ic_default_teacher.png" alt="">
							<p>张三</p>
						</div>
						<div class="right">
							<h3 class="title">钢琴精品课程</h3>
							<p class="time">时间: 15:00-16:30</p>
							<p class="teacher">主讲：王红</p>
							<p class="roo hide">教室：五楼504</p>
							<p class="address hide">地址：上海市浦东新区</p>
						</div>
						<span class="right-arrow"></span>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</body>