@@include('../../include/header-common.html', {
  "subtitle": "-老师简介页",
  "css": "page-1/entry-teacherDetailIntroduce"
})
<div class="top" id="top">
	<!-- <img src="/img/tpl1/art01.png" alt="">
	<div class="text">
		<div class="avator">
			<img src="/img/tpl1/default/ic_default_teacher.png" alt="">
		</div>
		<p>徐老师<span>(23年教龄)</span></p>
	</div>
	<span class="back"></span>
	<span class="tel"></span> -->
</div>
<div class="tab">
	<div><span class="active">简介</span></div>
	<div><span>课程</span></div>
	<div><span>评论</span></div>
</div>
<div id="wrapper">
	<div>
		<ul id="listContainer">
			<!-- <li class="item item1">
				<p><span class="gray">所属校区：</span><span>朝阳校区、海淀校区</span></p>
				<p><span class="gray">教授课程：</span><span>朝阳校区、海淀校区</span></p>
				<p class="tag"><span class="gray">教授课程：</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span></p>
				<p><span class="gray">教师简介：</span><span>朝阳校区、海淀校区
			朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区
				</span></p>
			</li> -->
			<!-- <li class="item item2">
				<h3 class="title">测试数据G班</h3>
				<p class="line"><span class="icon icon1"></span>朝阳校区</p>
				<p class="line"><span class="icon icon2"></span>2018-04-18至2018-04-25</p>
				<p class="line"><span class="icon icon3"></span>周三上课</p>
				<p class="time"><span class="red">￥</span>2000.00<span>￥3000.00</span></p>
				<p class="already">已报<span>20</span>/100人</p>
				<p class="tag"><span>随时退班</span><span>随时插班</span><span>免费试听</span></p>
				<div class="care"><span>折</span><span class="red">减</span><span class="red">套</span><span>连</span></div>
				<div class="address">海淀区18km</div>
			</li>
			<li class="item item2">
				<h3 class="title">测试数据G班</h3>
				<p class="line"><span class="icon icon1"></span>朝阳校区</p>
				<p class="line"><span class="icon icon2"></span>2018-04-18至2018-04-25</p>
				<p class="line"><span class="icon icon3"></span>周三上课</p>
				<p class="time"><span class="red">￥</span>2000.00<span>￥3000.00</span></p>
				<p class="already">已报<span>20</span>/100人</p>
				<p class="tag"><span>随时退班</span><span>随时插班</span><span>免费试听</span></p>
				<div class="care"><span>折</span><span class="red">减</span><span class="red">套</span><span>连</span></div>
				<div class="address">海淀区18km</div>
			</li> -->

			<li class="item item3">
				<div class="item_top">
					<div class="lf">
						<h3 class="title">5.0<span>分</span></h3>
						<p class="starWrapper">
							<span class="star"></span>
							<span class="star1"></span>
							<span class="star2"></span>
							<span class="star"></span>
							<span class="star"></span>
						</p>
						<p>共四人评论</p>
					</div>
					<div class="rf">
						<p class="line">
							上课效果 <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span> 5.0分
						</p>
						<p class="line">
							服务态度 <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span> 5.0分
						</p>
						<p class="line">
							教学态度 <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span> 5.0分
						</p>
					</div>
				</div>
				<div class="item_tab_w">
					<div class="item_tab">
						<a href="javascript:;" class="active">全部</a>
						<a href="javascript:;" class="center">好评</a>
						<a href="javascript:;" class="center">中评</a>
						<a href="javascript:;" class="last">差评</a>
					</div>
				</div>
				<div class="item_content">
					<div class="inner">
						<div class="header">
							<img src="/img/tpl1/ic_default_teacher.png" alt="">
							<div class="tel">135****2213</div>
							<div class="time">2016-2-17</div>
						</div>
						<div class="body">
							<p>高三数学高考冲刺精品教学班</p>
							<p class="starWrapper">
								<span class="star"></span>
								<span class="star"></span>
								<span class="star star1"></span>
								<span class="star"></span>
								<span class="star star2"></span>
							</p>
							<p class="more">
								首先得对老师致以感谢，孩子的好成绩当然离不开他们的辛勤教导;再个就是从孩子平时的学习生活中去发现些问题，来提出相应的建议，哪些方法，可以继续提倡下去，或者哪些方面，哪些地方还需做进一步的调整。
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<script type="text/html" id="avator">
	<img src="/img/tpl1/art01.png" alt="">
	<div class="text">
		{{if sex == 1}}
			<div class="avator avator1">
				<img src="/img/tpl1/default/ic_default_teacher.png" alt="">
			</div>
		{{else}}
			<div class="avator avator1">
				<img src="/img/tpl1/default/ic_default_teacher.png" alt="">
			</div>
		{{/if}}
		<p>{{realname}}<span>({{number}}年教龄)</span></p>
	</div>
	<span class="back"></span>
	<span class="tel"></span>
</script>

<script type="text/html" id="TplClass">
	{{if type == "TeacherIntroduce"}}
		<li class="item item1">
			<p><span class="gray">所属校区：</span><span>朝阳校区、海淀校区</span></p>
			<p><span class="gray">教授课程：</span><span>朝阳校区、海淀校区</span></p>
			<p class="tag"><span class="gray">教授课程：</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span><span class="inner">朝阳校区</span></p>
			<p><span class="gray">教师简介：</span><span>朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区朝阳校区、海淀校区</span></p>
		</li>
	{{else}}
		222
	{{/if}}
</script>