@@include('../../include/header-common.html', {
  "subtitle": "-老师列表页",
  "css": "page-1/entry-teacherList"
})
<!-- 1-全部试听 -->
<body class="header">
	<!-- 头部 -->
	@@include('./c-header.html', {
		"type": "1"
	})
	<!-- 筛选条件-顶部 -->
	<div class="order_sort">
		<!-- 选项卡头部 -->
		<ul class="order_sort_u clearfix">
			<li>
				<a href="javascript:;" class="tab_swi_a" id="locationTab">位置</a>
			</li>
			<li>
				<a href="javascript:;" class="tab_swi_a" id="classTab">课程分类</a>
			</li>
			<!-- <li>
				<a href="javascript:;" class="tab_swi_a" id="aiSortTab">智能排序</a>
			</li> -->
			<!-- <li>
				<a href="javascript:;" class="tab_swi_a" id="teachModeTab">授课模式</a>
			</li> -->
			<li>
				<a href="javascript:;" class="tab_swi_a" id="selectSelectTab">筛选</a>
			</li>
			<!-- <li>
				<a href="javascript:;" class="tab_swi_a" id="gradeTab">年部年级</a>
			</li>
			<li>
				<a href="javascript:;" class="tab_swi_a" id="allTeacherTab">全部老师</a>
			</li> -->
		</ul>
		<!-- 搜索选项卡 -->
		<div class="search_tabs">
			<!-- 选项卡-位置 -->
			<div class="search_tab location_fu" id="location_fu">
				<div class="left_area"></div>
				<div class="right_area"></div>
			</div>
			<!-- 选项卡-课程分类 -->
			<div class="search_tab" id="classify"></div>
			<!-- 选项卡-智能排序 -->
			<!-- <div class="search_tab min_hieght" id="aiSort" data-sort="1"></div> -->
			<!-- 选项卡-授课模式 -->
			<!-- <div class="search_tab teachMode" id="teachMode"></div> -->
			<!-- 选项卡-筛选(老师) -->
			<div class="search_tab" id="selectSelect"></div>
			<!-- 选项卡-年部年级 -->
			<!-- <div class="search_tab min_hieght" id="gradeJi"></div> -->
			<!-- 选项卡-全部老师 -->
			<!-- <div class="search_tab" id="allTeacher"></div> -->
		</div>
	</div>
	<!-- 列表 -->
	<div id="wrapper">
		<div>
			<ul id="listContainer">
				<!-- <li class="item">
					<div class="img">
						<img src="/img/tpl1/default/ic_default_teacher.png" alt="">
					</div>
					<div class="text">
						<h3 class="title">待定<i class="icon icon1"></i></h3>
						<p class="tag">
							<span>0年教龄</span>
						</p>
						<p class="line"><i class="icon icon2"></i>朝阳校区、海淀校区</p>
						<p class="line"><i class="icon icon3"></i>英语 一级语文</p>
					</div>
				</li>
				<li class="item">
					<div class="img">
						<img src="/img/tpl1/default/ic_default_teacher.png" alt="">
					</div>
					<div class="text">
						<h3 class="title">待定<i class="icon icon4"></i></h3>
						<p class="tag">
							<span>0年教龄</span>
							<span>0年教龄</span>
						</p>
						<p class="line"><i class="icon icon2"></i>朝阳校区、海淀校区</p>
						<p class="line"><i class="icon icon3"></i>英语 一级语文</p>
					</div>
				</li> -->
			</ul>
			
		</div>
	</div>
	<!-- /列表 -->
	<!-- 暂无数据-->
	@@include('../../include/no-content.html', {
		"id": "emptyContentClass",
		"style": "margin-top:30px;",
		"className": "",
		"txt": ""
	})
	<!-- /暂无数据 -->
	<!-- 模板 -->
	<script type="text/html" id="TplClass">
		{{each data value i}}
			<li class="item" data-id="{{value.id}}">
				<div class="img">
					{{if value.photo}}
						<img src="{{value.photo}}" alt="">
					{{else}}
						<img src="/img/tpl1/default/ic_default_teacher.png" alt="">
					{{/if}}
				</div>
				<div class="text">
					<h3 class="title">{{value.realname}}
						{{if value.sex == 1}}
							<i class="icon icon1"></i>
						{{else}}
							<i class="icon icon4"></i>
						{{/if}}
					</h3>
					<p class="tag">
						{{if value.seniority}}
							<span>{{value.seniority}}年教龄</span>
						{{else}}
							<span>0年教龄</span>
						{{/if}}
					</p>
					<p class="line"><i class="icon icon2"></i>{{value.campus_name}}</p>
					<p class="line"><i class="icon icon3"></i>
						{{each value.goods_label item index}}
							{{item}}
						{{/each}}
					</p>
				</div>
			</li>
		{{/each}}
	</script>
</body>