// 课程列表页-右侧侧边栏
.class_list_sidebar{
	@w: 250px;
	@btn-h: 40px;
	width: @w;
	height: 100%;
	padding: 15px 10px @btn-h 10px;
	position: fixed;
	right: -@w;
	top: 0;
	.tit{
		font-size: 1.5rem;
		color: #333;
		margin: 0 0 10px 0;
	}
	
}