body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:730px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:110px;
  width:414px;
  height:730px;
}
#u3953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:129px;
  width:412px;
  height:40px;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:129px;
  width:29px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:138px;
  width:65px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:179px;
  width:414px;
  height:238px;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:785px;
  width:414px;
  height:60px;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:41px;
  background:inherit;
  background-color:rgba(51, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:795px;
  width:267px;
  height:41px;
  color:#FFFFFF;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:263px;
  word-wrap:break-word;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:299px;
  width:402px;
  height:1px;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:303px;
  width:20px;
  height:30px;
  font-size:16px;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:310px;
  width:230px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:338px;
  width:402px;
  height:1px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:347px;
  width:230px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:377px;
  width:402px;
  height:1px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:387px;
  width:230px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:416px;
  width:402px;
  height:1px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:342px;
  width:20px;
  height:30px;
  font-size:16px;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:382px;
  width:20px;
  height:30px;
  font-size:16px;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:651px;
  width:414px;
  height:194px;
  overflow:hidden;
  visibility:hidden;
}
#u3970_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:194px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3970_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:192px;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:59px;
  width:411px;
  height:1px;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:64px;
  width:80px;
  height:40px;
  color:#666666;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:411px;
  height:1px;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:64px;
  width:80px;
  height:40px;
  color:#666666;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:64px;
  width:80px;
  height:40px;
  color:#666666;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:110px;
  width:80px;
  height:40px;
  color:#000000;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:110px;
  width:80px;
  height:40px;
  color:#000000;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:110px;
  width:80px;
  height:40px;
  color:#000000;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:146px;
  width:411px;
  height:1px;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:153px;
  width:80px;
  height:40px;
  color:#666666;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:153px;
  width:80px;
  height:40px;
  color:#666666;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:153px;
  width:80px;
  height:40px;
  color:#666666;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-23px;
  width:412px;
  height:214px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:658px;
  width:414px;
  height:187px;
  overflow:hidden;
  visibility:hidden;
}
#u3986_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:187px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3986_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:412px;
  height:186px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:128px;
  width:160px;
  height:40px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:412px;
  height:1px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-2px;
  width:160px;
  height:40px;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:412px;
  height:1px;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:33px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:45px;
  width:160px;
  height:33px;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:88px;
  width:160px;
  height:40px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:187px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:127px;
  width:412px;
  height:1px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:270px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:310px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:351px;
  width:65px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:389px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:23px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:106px;
  width:414px;
  height:23px;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:259px;
  width:402px;
  height:1px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:209px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:189px;
  width:60px;
  height:60px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:211px;
  width:17px;
  height:17px;
  font-size:16px;
  color:#999999;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:263px;
  width:20px;
  height:30px;
  font-size:16px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:179px;
  width:414px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:260px;
  width:414px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:300px;
  width:414px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:337px;
  width:414px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:377px;
  width:414px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:716px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:129px;
  width:414px;
  height:716px;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:697px;
  width:355px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:351px;
  word-wrap:break-word;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:739px;
  width:355px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:351px;
  word-wrap:break-word;
}
#u4016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:796px;
  width:355px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:351px;
  word-wrap:break-word;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:580px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:205px;
  width:414px;
  height:580px;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:367px;
  width:260px;
  height:128px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:385px;
  width:29px;
  height:16px;
}
#u4020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:411px;
  width:85px;
  height:16px;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:454px;
  width:260px;
  height:1px;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#33CCCC;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:465px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#33CCCC;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:580px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:230px;
  width:414px;
  height:580px;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:392px;
  width:260px;
  height:128px;
}
#u4026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:410px;
  width:29px;
  height:16px;
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:436px;
  width:113px;
  height:16px;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:479px;
  width:260px;
  height:1px;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#33CCCC;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:490px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#33CCCC;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:580px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:248px;
  width:414px;
  height:580px;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:410px;
  width:260px;
  height:128px;
}
#u4033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:428px;
  width:29px;
  height:16px;
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:454px;
  width:113px;
  height:16px;
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:497px;
  width:260px;
  height:1px;
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#33CCCC;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:508px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#33CCCC;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:580px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:230px;
  width:414px;
  height:580px;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:392px;
  width:260px;
  height:128px;
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:410px;
  width:29px;
  height:16px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:436px;
  width:113px;
  height:16px;
}
#u4042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:479px;
  width:260px;
  height:1px;
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#33CCCC;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:490px;
  width:33px;
  height:16px;
  font-size:16px;
  color:#33CCCC;
}
#u4044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.807843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:119px;
  width:414px;
  height:736px;
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:675px;
  width:355px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:351px;
  word-wrap:break-word;
}
#u4048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:717px;
  width:355px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:351px;
  word-wrap:break-word;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:774px;
  width:355px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#33CCCC;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:351px;
  word-wrap:break-word;
}
