   @@include('../../include/header-common.html', {
     "subtitle": "-评价成功页",
     "css": "page-2/entry-classEvaluationSuccess"
   })

    <div>
        <div class="menu_ding_box">
            <div class="order_result">
                <h3 class="h3_order">感谢评价</h3>
                <a class="success_ok" href="jvavascript:;">完成</a>
            </div>
            
            <div class="menu_ok mar_less">
                <img src="/img/tpl1/icon_alert_scs.png" width="110" height="110" alt="">
                <span>感谢您的评价</span>
                <p class="ping_con mar_t line_less">您的支持是我们进步的动力，如有任何问题可拨打</p>
                <p class="ping_con mar_t line_less">400-819-1900</p>
            </div>
             <div class="sub_btn short one_btn">
                <a href="#" class="submit">查看我的评价</a>
            </div>
        </div>
    </div>