@@include('../../include/header-common.html', {
  "subtitle": "-我的课程页",
  "css": "page-2/entry-classEvaluationMyClass"
})
<!-- 1-课程&评价 我的课程页 -->
<body class="header">
	<!-- 头部 -->
		@@include('./c-header.html', {
			"type": "0",
			"txt": "课程&评价",
			"rightText": "评价记录"
		})
	<!-- /头部 -->
	<!-- tab -->
	<div class="tab">
		<a href="javascript:;" class="active">我的课程</a>
		<a href="javascript:;">收到评价</a>
	</div>
	<!-- /tab -->
	<!-- 列表 -->
	<div id="wrapper">
		<div>
			<ul id="listContainer">
				<!-- 我的课程 -->
				<!-- <li class="item">
					<div class="left">
						<img src="/img/tpl2/ic_default_teacher.png" alt="">
						<p>张三</p>
					</div>
					<div class="right">
						<h3 class="title">钢琴精品课程</h3>
						<p class="address">地址：中关村大厦705</p>
						<p class="roo">教室：滚动A班</p>
						<p class="time">下节：2015-11-30 周五 15:00-16:30</p>
					</div>
					<div class="inner">
						<a href="javascript:;">评价</a>
						<a href="javascript:;" class="kao">考勤</a>
					</div>
					<div class="tag">正常开课</div>
				</li> -->
				<!-- /我的课程 -->
				<!-- 收到评价 -->
				<!-- <li class="othitem">
					<div class="title">
						<img src="/img/tpl2/ic_default_teacher.png" alt="">
						<span class="name">张晓雅</span>
					</div>
					<p class="yello">表现极好</p>
					<p class="line">评分：<span class="star"></span><span class="star"></span><span class="star"></span><span class="star star1"></span><span class="star star2"></span><span class="num">70.0</span></p>
					<p class="line">亮点：<span class="gray">积极思考;举手问答;注意力集中</span></p>
					<p class="line">待改进: <span class="gray">上课走神</span></p>
					<p class="line">评语：</p>
					<div class="student">
						<img src="/img/tpl2/ic_default_teacher.png" alt="">
						<div class="text">
							<p class="name">孩子：王勇</p>
							<p class="desc">小学数学A班</p>
						</div>
					</div>
				</li> -->
				<!-- /收到评价 -->
			</ul>
			
		</div>
	</div>
	<!-- /列表 -->
	<!-- 暂无数据-->
	@@include('../../include/no-content.html', {
		"id": "emptyContentClass",
		"style": "margin-top:30px;",
		"className": "",
		"txt": ""
	})
	<!-- /暂无数据 -->
	<!-- 模板 -->
	<script type="text/html" id="TplClass">
		{{if data[0].type == "ClassPingMyClass"}}
			{{each data value i}}
				{{if value.order_type == 1}}
					<li class="item item1">
						<div class="left">
							{{if value.avatar}}
								<img src="{{value.avatar}}" alt="">
							{{else}}
								<img src="/img/tpl2/default/ic_default_child.png" alt="">
							{{/if}}
							<p>{{value.student_name}}</p>
						</div>
						<div class="right">
							<h3 class="title">{{value.course_name}}</h3>
							<p class="address">地址：{{value.address}}</p>
							{{if value.classroom_name}}
								<p class="roo">教室：{{value.classroom_name}}</p>
							{{else}}
								<p class="roo">教室：待定</p>
							{{/if}}
							{{if value.next_lesson}}
								{{if value.next_lesson.open_date}}
									<p class="time">下节：{{value.next_lesson.open_date}} 
									{{if value.next_lesson.week == 1}}
										星期一
									{{else if value.next_lesson.week == 2}}
										星期二
									{{else if value.next_lesson.week == 3}}
										星期三 
									{{else if value.next_lesson.week == 4}}
										星期四
									{{else if value.next_lesson.week == 5}}
										星期五 
									{{else if value.next_lesson.week == 6}}
										星期六
									{{else if value.next_lesson.week == 7}}
										星期日
									{{/if}}  
									{{value.next_lesson.class_time}}</p>
								{{else}}
									<p class="time">下节：已结课</p>
								{{/if}}
							{{else}}
								<p class="time">下节：已结课</p>
							{{/if}}
						</div>
						<div class="inner">
							{{if value.order_type == 1}}
								{{if value.is_allow_comment == 1}}
									<a href="javascript:;" class="ping" data-sub_order_id="{{value.sub_order_id}}">评价</a>
								{{/if}}
							{{/if}}
							{{if value.order_type == 1}}
								<a href="javascript:;" class="kao" data-name="{{value.course_name}}" data-goods_id="{{value.goods_id}}" data-parent_id="{{value.parent_id}}" data-student_id="{{value.student_id}}">考勤情况</a>
							{{/if}}
						</div>
						{{if value.is_enforce ==1}}
							<div class="tag">正常开课</div>
						{{else if value.is_enforce == 2}}
							<div class="tag">停课</div>
						{{else if value.is_enforce == 3}}
							<div class="tag">已结课</div>
						{{else}}
							<div class="tag">未开班</div>
						{{/if}}
					  </li>
				{{else}}
					<li class="item other item1">
						<div class="left">
							{{if value.avatar}}
								<img src="{{value.avatar}}" alt="">
							{{else}}
								<img src="/img/tpl2/ic_default_teacher.png" alt="">
							{{/if}}
							<p>{{value.student_name}}</p>
						</div>
						<div class="right">
							<h3 class="title">{{value.course_name}}</h3>
							<p>校区：{{value.campus_name}}</p>
							<p>下节：{{value.next_lesson.open_date}}
								{{if value.next_lesson.week == 1}}
								星期一
								{{else if value.next_lesson.week == 2}}
								星期二
								{{else if value.next_lesson.week == 3}}
								星期三 
								{{else if value.next_lesson.week == 4}}
								星期四
								{{else if value.next_lesson.week == 5}}
								星期五 
								{{else if value.next_lesson.week == 6}}
								星期六
								{{else if value.next_lesson.week == 7}}
								星期日
								{{/if}}  
								{{value.next_lesson.class_time}}
							</p>
							<p>课时：总{{value.buy_lesson}}节,用{{value.finish_lesson}}节,转出{{value.turn_out_lesson}}节,剩余{{value.surplus_lesson}}节</p>
							<p>结课时间：{{value.end_class_time}}</p>
							<!-- {{if value.order_type == 2}}
								<div class="inner">
									{{if value.is_allow_comment == 1}}
										<a href="javascript:;" class="ping" data-sub_order_id="{{value.sub_order_id}}">评价</a>
									{{/if}}
								</div>
							{{/if}} -->
						</div>
					</li>
				{{/if}}
			{{/each}}
		{{else}}
			{{each data value i}}
				<li class="othitem">
					<div class="title">
						{{if value.teacher_photo}}
							<img src="{{value.teacher_photo}}" alt="">
						{{else}}
							<img src="/img/tpl2/ic_default_teacher.png" alt="">
						{{/if}}
						<span class="name">{{value.teacher_name}}</span>
					</div>
					<p class="yello">{{value.score_title}}</p>
					<p class="line">评分：
						{{if value.scoreNum}}
							{{each value.scoreNum.star1 item i}}
								<span class="star"></span>
							{{/each}}
							{{each value.scoreNum.star2 item i}}
								<span class="star star1"></span>
							{{/each}}
							{{each value.scoreNum.star3 item i}}
								<span class="star star2"></span>
							{{/each}}
							<span class="num">{{value.scoreCount}}分</span>
						{{/if}}
					</p>
					<p class="line">亮点：<span class="gray">
						{{value.advantage}}
					</span></p>
					<p class="line">待改进: <span class="gray">{{value.comment_shortcoming}}</span></p>
					<p class="line">评语：<span class="gray">{{value.class_evaluation}}</span></p>
					<div class="student">
						{{if value.student_photo}}
							<img src="{{value.student_photo}}" alt="">
						{{else}}
							<img src="/img/tpl2/default/ic_default_child.png" alt="">
						{{/if}}
						<div class="text">
							<p class="name">孩子：{{value.student_name}}</p>
							<p class="desc">{{value.goods_name}}</p>
						</div>
					</div>
				</li>
			{{/each}}
		{{/if}}
	</script>
</body>