@@include('../../include/header-common.html', {
  "subtitle": "-首页",
  "css": "page-2/entry-index"
})
<!-- 1-首页 -->
<body class="header">
	<!-- 头部 -->
	<header>
		<div class="menu"></div>
		<div class="location">
			<a href="javascript:;" class="city_change">北京</a>
		</div>
		<div class="message"></div>
	</header>
	<!-- /头部 -->
	<!-- 搜索 -->
	<div class="search_box">
		<input type="text" class="search" name="" placeholder="Search">
	</div>
	<!-- /搜索 -->
	<!-- 轮播图 -->
	<div class="slide-wrapper">
		<div id="slideBox" class="slideBox">
			<div class="bd">
				<ul>
					<li>
						<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg" /></a>
					</li>
					<li>
						<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg"/></a> 
					</li>
					<li>
						<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg"/></a>
					</li>
					<li>
						<a class="pic" href="javascript:;"><img src="/img/slidebox/round01.jpg"/></a>
					</li>
				</ul>
			</div>
			<!-- 圆点切换 -->
			<div class="hd">
				<ul>
					<li class="on"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /轮播图-->
	<!-- 列表 -->
	<div class="list">
		<ul>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/homeworkfunction.png" alt="">
					<p>作业</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/timetablefunction.png" alt="">
					<p>课表</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/lessonandcommentfunction.png" alt="">
					<p>课程&评价</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/servicecampusfunction.png" alt="">
					<p>服务校区</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/mychildfunction.png" alt="">
					<p>我的孩子</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/lessonfunction.png" alt="">
					<p>班课报名</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/lessonfunction.png" alt="">
					<p>VIP教学</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/lessonfunction.png" alt="">
					<p>我的试听</p>
				</a>
			</li>
			<li class="item">
				<a href="javascript:;" class="icon_link">
					<img src="/img/tpl1/teacherfunction.png" alt="">
					<p>选老师</p>
				</a>
			</li>
		</ul>
	</div>
	<!-- /列表   -->
</body>
</html>