@@include('../../include/header-common.html', {
  "subtitle": "-校区列表页",
  "css": "page-2/entry-schoolList"
})
<!-- 1-校区列表页 -->
<body class="header">
	<!-- 头部 -->
	@@include('./c-header.html', {
		"type": "1",
		"searchTxt": "搜索校区"
	})
	<!-- 列表 -->
	<div class="container full">
		<!-- 筛选条件-顶部 -->
		<div class="order_sort">
			<!-- 选项卡头部 -->
			<ul class="order_sort_u clearfix">
				<li>
					<a href="javascript:;" class="tab_swi_a" id="locationTab">位置</a>
				</li>
				<li>
					<a href="javascript:;" class="tab_swi_a" id="classTab">课程分类</a>
				</li>
				<li>
					<a href="javascript:;" class="tab_swi_a" id="aiSortTab">智能排序</a>
				</li>
				<!-- <li>
					<a href="javascript:;" class="tab_swi_a" id="teachModeTab">授课模式</a>
				</li> -->
				<!-- <li>
					<a href="javascript:;" class="tab_swi_a" id="selectSelectTab">筛选</a>
				</li>
				<li>
					<a href="javascript:;" class="tab_swi_a" id="gradeTab">年部年级</a>
				</li>
				<li>
					<a href="javascript:;" class="tab_swi_a" id="allTeacherTab">全部老师</a>
				</li> -->
			</ul>
			<!-- 搜索选项卡 -->
			<div class="search_tabs">
				<!-- 选项卡-位置 -->
				<div class="search_tab location_fu" id="location_fu">
					<div class="left_area"></div>
					<div class="right_area"></div>
				</div>
				<!-- 选项卡-课程分类 -->
				<div class="search_tab" id="classify"></div>
				<!-- 选项卡-智能排序 -->
				<div class="search_tab min_hieght" id="aiSort"></div>
				<!-- 选项卡-授课模式 -->
				<!-- <div class="search_tab teachMode" id="teachMode"></div> -->
				<!-- 选项卡-筛选(老师) -->
				<!-- <div class="search_tab" id="selectSelect"></div> -->
				<!-- 选项卡-年部年级 -->
				<!-- <div class="search_tab min_hieght" id="gradeJi"></div> -->
				<!-- 选项卡-全部老师 -->
				<!-- <div class="search_tab" id="allTeacher"></div> -->
			</div>
		</div>
		<!-- 校区列表 -->
		<div id="wrapper">
			<div>
				<ul id="listContainer">
					
				</ul>
			</div>
		</div>
	</div>
	<!-- 暂无数据-->
	@@include('../../include/no-content.html', {
		"id": "emptyContentClass",
		"style": "margin-top:30px;",
		"className": "",
		"txt": ""
	})
	<!-- /暂无数据 -->
	<script type="text/html" id="TplClass">
		{{each data value i}}
			<li class="item" data-id="{{value.id}}">
				<div class="img">
					{{if value.merchant_logo}}
						<img src="{{value.merchant_logo}}" alt="">
					{{else}}
						<img src="/img/tpl1/ic_default_teacher.png" alt="">
					{{/if}}
				</div>
				<div class="text">
					<h3 class="title">{{value.name}}</h3>
					<p><span class="icon icon1"></span>{{value.address}}</p>
					<p>{{value.browse_number}}次浏览<span class="distance">
					{{if value.nearest}}
						{{value.nearest}}
					{{else}}
						0
					{{/if}}
					km</span></p>
				</div>
				{{if value.is_recommend == 1}}
					<div class="hot"><span>热门校区</span></div>
				{{/if}}
			</li>
		{{/each}}
	</script>
</body>
</html>