@@include('../../include/header-common.html', {
  "subtitle": "-滚动班列表页",
  "css": "page-2/entry-scrollClassList"
})
<!-- 1-校区列表页 -->
<body class="header">
	<!-- 头部 -->
	@@include('./c-header.html', {
		"type": "1",
		"searchTxt": "搜索内容"
	})
	<!-- 列表 -->
	<div class="container full">
		<!-- 筛选条件-顶部 -->
		<div class="order_sort">
			<!-- 选项卡头部 -->
			<ul class="order_sort_u clearfix">
				<li>
					<a href="javascript:;" class="tab_swi_a" id="locationTab">位置</a>
				</li>
				<!-- <li>
					<a href="javascript:;" class="tab_swi_a" id="gradeTab">年部年级</a>
				</li> -->
				<li>
					<a href="javascript:;" class="tab_swi_a" id="classTab">课程分类</a>
				</li>
				<!-- <li>
					<a href="javascript:;" class="tab_swi_a" id="aiSortTab">智能排序</a>
				</li> -->
				<!-- <li>
					<a href="javascript:;" class="tab_swi_a" id="teachModeTab">授课模式</a>
				</li> -->
				<!-- <li>
					<a href="javascript:;" class="tab_swi_a" id="selectSelectTab">筛选</a>
				</li>
				
				<li>
					<a href="javascript:;" class="tab_swi_a" id="allTeacherTab">全部老师</a>
				</li> -->
			</ul>
			<!-- 搜索选项卡 -->
			<div class="search_tabs">
				<!-- 选项卡-位置 -->
				<div class="search_tab location_fu" id="location_fu">
					<div class="left_area"></div>
					<div class="right_area"></div>
				</div>
				<!-- 选项卡-年部年级 -->
				<!-- <div class="search_tab min_hieght" id="gradeJi"></div> -->
				<!-- 选项卡-课程分类 -->
				<div class="search_tab" id="classify"></div>
				<!-- 选项卡-智能排序 -->
				<!-- <div class="search_tab min_hieght" id="aiSort"></div> -->
				<!-- 选项卡-授课模式 -->
				<!-- <div class="search_tab teachMode" id="teachMode"></div> -->
				<!-- 选项卡-筛选(老师) -->
				<!-- <div class="search_tab" id="selectSelect"></div> -->
				
				<!-- 选项卡-全部老师 -->
				<!-- <div class="search_tab" id="allTeacher"></div> -->
			</div>
		</div>
	</div>
	<!-- 一对一列表 -->
	<div id="wrapper">
		<div>
			<ul id="listContainer">
				
			</ul>
		</div>
	</div>
	<!-- 暂无数据-->
	@@include('../../include/no-content.html', {
		"id": "emptyContentClass",
		"style": "margin-top:30px;",
		"className": "",
		"txt": ""
	})
	<!-- /暂无数据 -->
	<script type="text/html" id="TplClass">
		{{each data value i}}
			<li class="item" data-course_id="{{value.course_id}}">
				<div class="img">
					{{if value.course_imgs}}
						<img src="{{value.course_imgs}}" alt="">
					{{else}}
						<img src="/img/tpl2/default/oto_default.png" alt="">
					{{/if}}
				</div>
				<div class="text">
					<h3 class="title">{{value.course_name}}</h3>
					<p class="address"><span class="icon icon1"></span>{{value.campus_name}}</p>
					<p class="price"><span class="red">{{value.unit_price}}</span>起/节
						{{if value.nearest}}
							<span class="distance">{{value.nearest}}</span>
						{{else}}
							<span class="distance">0km</span>
						{{/if}}
					</p>
				</div>
			</li>
		{{/each}}
	</script>
</body>
</html>