@@include('../../include/header-common.html', {
  "subtitle": "-服务校区",
  "css": "page-2/entry-serviceSchool"
})
<!-- 1-服务校区页 -->
<body class="header">
	<!-- 头部 -->
	<header>
		<a href="javascript:;" class="back"></a>
		<!-- <div class="shai"></div> -->
		<!-- <div class="search">
			<input type="text" placeholder="搜索课程/机构" readonly />
		</div> -->
		服务校区
	</header>
	<!-- GPS -->
	<div class="alert">
		<a href="javascript:;">您未开启GPS功能, 点击开启设置>中的GPS功能</a>
	</div>
	<!-- /GPS -->
	<!-- 列表 -->
	<div class="list">
		<ul>
			<li class="item">
				<div class="address-wrapper">
					<h3 class="title">中关村校区</h3>
					<p class="address">地址：北京市海淀区中关村大厦</p>
					<p class="distance">距离：3km</p>
				</div>
				<div class="tel">
					<a href="javascript:;"></a>
				</div>
			</li>
		</ul>
	</div>
	<!-- /列表 -->
	<!-- 模板-课程 -->
</body>
</html>