@@include('../../include/header-common.html', {
  "subtitle": "常见问题",
  "css": "page-2/entry-systemQuestion"
})
<!-- 1-课程详情页 -->
<body class="btns_bottom header">
	<!-- 头部 -->
	@@include('./c-header.html', {
		"type": "0",
		"txt": "常见问题"
	})
	<div class="container">
		<div class="problem_list">
			<h3>预约试听</h3>
			<p>凡有“免费试听”标签的课程都支持线上预约免费到校试听，家长选择试听课程后，进入课程详情页面，点击“预约试听”按钮，填写试听信息预约成功后，会给家长发送预约试听成功短信，即可按照短信内时间和地点到校区进行试听。</p>
		</div>
		<div class="problem_list">
			<h3>报名上课</h3>
			<p>家长成功注册并登录后，为孩子选择合适的课程，进入课程详情页点击“立即报名”提交订单进行在线支付，我们会将上课的电子凭证以短信形式发到家长手机上。</p>
		</div>
		<div class="problem_list">
			<h3>退班换课</h3>
			<p>凡有“随时退班”标签的的课程，家长可联系校区经核实会无条件将剩余课时的费用返还给您。</p>
		</div>
		<div class="problem_list">
			<h3>添加孩子</h3>
			<p>登录后，在“我的“页面，选择”我的孩子“可添加想报班的孩子，也可以在“确认订单“里“选择上课孩子”一步添加需要上课的孩子信息。</p>
		</div>
	</div>
</body>
</html>