<script type="text/html">
	<!-- 位置 -->
	<div class="left_area">
		<a href="javascript:;" class="switch_a area_d_a on" data-type="near">附近</a>
		{{each region val i}}
		<a href="javascript:;" class="switch_a area_d_a" data-type="school" data-id={{val.district_id}}>{{val.district_name}}</a>
		{{/each}}
	</div>
	<div class="right_area">
		<div class="right_area_d on" data-type="near">
			<div class="rigth_third">
				<a href="javascript:;" class="switch_a area_r" data-id="">全城</a>
			</div>
			{{each nearby val i}}
			<div class="rigth_third">
				<a href="javascript:;" class="switch_a area_r" data-id="{{val.id}}">{{val.name}}</a>
			</div>
			{{/each}}
		</div>
		<div class="right_area_d" data-role="school"></div>
	</div>
</script>