<script type="text/html">
	<!-- 筛选(老师) -->
	<div class="sidebar shai">
		<!-- 主体 -->
		<div class="main">
			<div class="info_tit">
				<h3><span></span>老师教龄</h3>
			</div>
			<div class="qujian_zone">
				<ul class="staus_sele" data-role="staus_sele" data-input-key="seniority">
					<li class="staus"><span class="on" data-default="true" data-input-value="">不限</span></li>
					<li class="staus"><span data-input-value="1-5">1-5年</span></li>
					<li class="staus"><span data-input-value="5-10">5-10年</span></li>
					<li class="staus"><span data-input-value="10-15">10-15年</span></li>
					<li class="staus"><span data-input-value="15">15年以上</span></li>
				</ul>
			</div>
			<div class="info_tit">
				<h3><span></span>老师性别</h3>
			</div>
			<div class="qujian_zone">
				<ul id="week_condition" class="staus_sele" data-role="staus_sele" data-input-key="sex">
					<li class="staus" data-week="1"><span class="on" data-default="true" data-input-value="">不限</span></li>
					<li class="staus" data-week="2"><span data-input-value="1">男</span></li>
					<li class="staus" data-week="3"><span data-input-value="2">女</span></li>
				</ul>
			</div>
		</div>
		<!-- 底部操作区 -->
		<div class="bottom_ctrl">
			<div class="reset" data-role="reset">重置</div>
			<div class="ok">确认</div>
		</div>
	</div>
</script>