<script type="text/html">
	<!-- 授课模式 -->
	<ul class="localtion_list">
		<li data-mode=""><a href="javascript:;">全部</a></li>
		<li data-mode="1"><a href="javascript:;">一对一</a></li>
		<li data-mode="2"><a href="javascript:;">一对二</a></li>
		<li data-mode="3"><a href="javascript:;">一对三</a></li>
		<li data-mode="4"><a href="javascript:;">一对四</a></li>
		<li data-mode="5"><a href="javascript:;">一对五</a></li>
		<li data-mode="6"><a href="javascript:;">一对六</a></li>
		<li data-mode="7"><a href="javascript:;">一对七</a></li>
		<li data-mode="8"><a href="javascript:;">一对八</a></li>
		<li data-mode="9"><a href="javascript:;">一对九</a></li>
		<li data-mode="10"><a href="javascript:;">一对十</a></li>
	</ul>
</script>