<script type="text/html" id="TplClass">
	<!-- 班课模板 -->
	{{each data value i}}
		<li data-goodsid="{{value.goods_id}}" data-courseid="{{value.course_id}}">
			<div class="up">
				<div class="u">
					{{if value.teacher_photo}}
					<img src={{value.teacher_photo}} alt="" class="img" />
					{{else}}
					<img src="/img/tpl3/default/teacher.png" alt="" class="img" />
					{{/if}}
					<span class="name">{{value.teacher_name}}<img src="/img/tpl3/name_arrow.png" alt="" class="arrow" /></span>
					<div class="money">
						{{if value.privileges && value.privileges.length}}
							{{if value.privilege_price_tag}}
							<span class="money_status">{{value.privilege_price_tag.name}}</span>
							{{/if}}
						￥{{value.mall_cost}}
						<div class="money_yuan">{{value.cost}}</div>
						{{else}}
						￥{{value.mall_cost}}
						{{/if}}
					</div>
				</div>
				<div class="d">
					{{if value.retreat_rule == 1}}
					<span class="mark">随时退班</span>
					{{/if}}
					{{if value.is_transfer == 1}}
					<span class="mark">随时插班</span>
					{{/if}}
					{{if value.is_audition == 1}}
					<span class="mark">免费试听</span>
					{{/if}}
					<div class="bao">
						已报<span>{{value.saled}}</span>/<span>{{value.total}}</span>
					</div>
				</div>
			</div>
			<div class="down">
				<div class="class_infor">
					<span class="name">{{value.name}}</span>
					<div class="hui">
						{{if value.privileges}}
							{{each value.privileges val j}}
							<span class="hui" style="background:{{val.bkg_color}};">{{val.name}}</span>
							{{/each}}
						{{/if}}
					</div>
				</div>
				<p class="campus">{{value.campus_name}}</p>
				<p class="time"><span>{{value.open_date}}</span>至<span>{{value.end_date}}</span></p>
				<p class="date">{{value.goods_week}}</p>
				<p class="position">{{value.districtinfo}}</p>
			</div>
			<!-- 班级状态 -->
			{{if value.is_full_class == 1}}
				<div class="class_status man"></div>
			{{/if}}
		</li>
	{{/each}}
</script>